html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #fff;
  color: #000;
  font-family: "IBM Plex Sans","Helvetica Neue",Arial,sans-serif !important;
  -webkit-text-size-adjust: 100%;
}
@media screen and (min-width: 601px) {
  html { font-size: 16px; }
}
@media screen and (max-width: 600px) {
  html { font-size: 2.666667vw; }
}

div {
  display: block;
}

canvas {
  width: 100%;
}

#content, #toc, #slides {
  width: 44em;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}
#content, #toc {
  user-select: none;
  -webkit-user-select: none;
}
#toc {
  margin: 0.25rem auto;
}

.toc-entry {
  padding: 0.3em;
  font-size: 150%;
}

.control-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40em;
  max-width: 100%;
}

.control-label {
  width: 10em;
}

.control-input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.control-input-linked {
  opacity: 0.333;
}

.control-input-bag, .control-input-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.control-input-bag {
  flex-wrap: wrap;
  margin: 0.25rem 0;
}

.control-input-bag-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25rem;
}
.control-input-bag-contents input[type="radio"], input[type="checkbox"] {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0 0 0 0.25rem;
}

.control-range {
  width: 100%;
  margin: 0.25rem 0;
  height: 0.5rem;
}
/*@NOTE: To use ::-webkit-slider-thumb, you need to set -webkit-appearance:none; on the element, itself */
/*
.control-range::-webkit-slider-thumb {
  -webkit-appearance:none;
  width:0.875rem;
  height:0.875rem;
  background:indianred;
}
*/

.control-range-text {
  width: 3.5rem;
  margin: 0 0.25rem;
  font-size: 80%;
}

.control-link {
  margin: 0.25em 0.4em 0.25em 0.25em;
  border: 0px;
}

.link-toggle {
  position: relative;
  display: inline-block;
  width: 1.0em;
  height: 1.0em;
}
/* Hide default HTML checkbox */
.link-toggle input {
  width: 0;
  height: 0;
  opacity: 0;
}

.link-text {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  background-color: #eee;
  font-size: 75%;
  cursor: pointer;
}
.link-text::before {
  content: "";
}
input:checked + .link-text::before {
  content: "🔗";
}
@media (hover: hover) and (pointer: fine) {
  input:hover + .link-text {
    border: 1px solid rgba(0,0,0,0.5);
  }
}
input:focus-visible + .link-text {
  border: 2px solid #000;
}
